@media screen and (max-width:1500px)  {
    .seperation{
        width: 99vw;
        background-color: rgb(82, 80, 80);
        height: 5px;
        position: relative;
        z-index: 20;
    }
    .otherDetails p{
        font-size: 10px;
    }
    .otherDetails{
        width: 300px;
    }
}
@media screen and (max-width:1800px)  {
    
    .otherDetails p{
        font-size: 10px;
    }
    .otherDetails{
        width: 300px;
    }
}
@media screen and (max-width:1400px)  {
    .seperation{
        width: 99vw;
        background-color: rgb(82, 80, 80);
        height: 5px;
        position: relative;
        z-index: 20;
    }
}
@media screen and (max-width:1000px)  {
    .seperation{
        width: 99vw;
        background-color: rgb(82, 80, 80);
        height: 5px;
        position: relative;
        z-index: 20;
    }
}
@media screen and (max-width:515px) {
    .hero> :first-child{
        font-weight: bolder;
        font-size: 37px;
        text-align:center;
    }
    .hero> :nth-child(2){
        font-weight: 400;
        font-size: 18px;
        text-align:center;
        
    }
    .otherDetails{
        width: 200px;
    }
    .otherDetails h2  {
font-size: 18px;
    }
    .movie-info span{
font-size: 12px;
    }
    .otherDetails span p{
        font-size: 13px;
    }
    .hero :nth-child(3){
        font-weight: 400;
        font-size: 15px;
        text-align:center;
        
    }
    .sp{
        flex-wrap: wrap;
        gap: 10px;
    }

    .secImg{
        position: relative;
    }
    .secImg img{
        
        width: 400px;
        position: relative;
        z-index: 10;
    
    
    }
    .secImg video{
        position: absolute;
        top: 51px;
        right: 0;
        width: 380px;
    }

}
@media screen and (max-width:480px) {
    .footer-items{
        /* background-color: aqua; */
        font-size: 1px;
        margin-left: 0;
        left: 0;
       
    }

    .footer{
   
        display: grid;
        grid-template-columns:  1fr 1fr;
        max-width: 60vw;
        margin: auto;
        gap: 15px;
        
        }
}
@media screen and (max-width:440px) {
.imgMovie img{
width: 180px;
height: 280px;
}
}
@media screen and (max-width:410px) {
.imgMovie img{
width: 150px;
height: 250px;
}
}

@media screen and (max-width:380px) {
    
    .hero> :first-child{
        font-weight: bolder;
        font-size: 37px;
        text-align:center;
    }
    .hero> :nth-child(2){
        font-weight: 400;
        font-size: 18px;
        text-align:center;
        
    }
    .hero :nth-child(3){
        font-weight: 400;
        font-size: 15px;
        text-align:center;
        
    }
    .sp{
        flex-wrap: wrap;
        gap: 10px;
    }

    .secImg{
        position: relative;
    }
    .secImg img{
        
        width: 350px;
        position: relative;
        z-index: 10;
    
    
    }
    .secImg video{
        position: absolute;
        top: 51px;
        right: 0;
        width: 330px;
    }

}

@media screen and (max-width:615px) {
    section.first> div :nth-child(1){
      
        font-size: 38px;
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
    }
    section.first>div :nth-child(2){
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        ;
    }
}
